<div class="w-75 mx-auto py-3">
  <form (ngSubmit)=" sunbmitRegisterForm(registerForm) " [formGroup]="registerForm">
    <label for="first_name">first_name:</label>
    <input formControlName="first_name" type="text" class="form-control mb-2 input-mine">

    <label for="last_name">last_name:</label>
    <input formControlName="last_name" type="text" class="form-control mb-2 input-mine">

    <label for="Age">Age</label>
    <input formControlName="age" type="number" class="form-control mb-2 input-mine">

    <label for="Email">Email</label>
    <input formControlName="email" type="text" class="form-control mb-2 input-mine">

    <label for="Password">Password</label>
    <input formControlName="password" type="text" class="form-control mb-2 input-mine">
    <button class="btn btn-info" type="submit">Register</button>
  </form>
</div>